<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../webapp/VAADIN/themes/ankara/cost.css">


</head>

<body>
<div class="container">
    <div class="row top10">
        <div class="col-xs-6">
            <img class="logo  img-rounded"
                 src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-0/p480x480/10300881_851858584836717_8353516927318366400_n.png?oh=0e32ab87e3c3576ed6ba411a8eb01699&oe=5843267F"/>
        </div>

        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-2 caption">
                    From
                </div>
                <div class="col-xs-10 left-vertical-line">
                    <address>
                        <strong>
                            Startel Tanzania Limited
                        </strong><br/>
                        9th Floor , I.T Plaza - Ohio<br/>
                        St/Garden Avenue<br/>
                        P.O.Box 6458<br/>
                        Dar es Salaam,<br/>
                        Tanzania<br/>
                    </address>
                    <table class="table table-condensed">
                        <tr>
                            <td width="20%" class="caption">
                                VAT
                            </td>
                            <td>
                                10-017363-H
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                TIN
                            </td>
                            <td>
                                102-843-134
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Tel
                            </td>
                            <td>
                                +255-212-5230
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Fax
                            </td>
                            <td>
                                +255-212-5231
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Email
                            </td>
                            <td>
                                sales@raha.com
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row top10">
        <div class="col-xs-6">
            <div class="row">

                <div class="col-xs-4 caption">
                    Invoice ID
                </div>
                <div class="col-xs-8 left-vertical-line">
                    <strong> 0001</strong>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-4 caption">
                    PO Number
                </div>
                <div class="col-xs-8 left-vertical-line">
                    <strong> 33-45-57</strong>
                </div>
            </div>
            <div class="row top5">

                <div class="col-xs-4 caption">
                    Issue Date
                </div>
                <div class="col-xs-8 left-vertical-line">
                    08/24/2016
                </div>
            </div>

            <div class="row">

                <div class="col-xs-4 caption">
                    Due Date
                </div>
                <div class="col-xs-8 left-vertical-line">
                    08/24/2016 (upon receipt)
                </div>
            </div>
            <div class="row top5">

                <div class="col-xs-4 caption">
                    Subject
                </div>
                <div class="col-xs-8 left-vertical-line subject">
                    PRO forma Invoice for Data internet
                    connectivity
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="row">

                <div class="col-xs-2 caption">
                    For
                </div>
                <div class="col-xs-10 left-vertical-line">
                    <address>
                        <strong>
                            Tecic
                        </strong><br/>
                        Along Sam Nujoma Road,<br/>
                        Opposite Mlimani city<br/>
                    </address>
                    <table class="table table-condensed">
                        <tr>
                            <td  width="20%" class="caption">
                            Tel
                            </td>
                            <td>
                            +255719021033
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                            Fax
                            </td>
                            <td>
                            +255-212-5231
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                            Email
                            </td>
                            <td>gasper.clement@gabeco.co.tz</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <div class="row top15">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-right">Index</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th class="text-right">Quantity</th>
                    <th width="16.5%" class="text-right">Unit Price</th>
                    <th width="16.5%" class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="text-right">1</th>
                    <td>Service</td>
                    <td>Remove the default list-style and left margin on list items
                        (immediate children only).</td>
                    <td class="text-right">21</td>
                    <td class="text-right">12500</td>
                    <td class="text-right">345000</td>
                </tr>

                <tr>
                    <th scope="row" class="text-right">2</th>
                    <td>Service</td>
                    <td> It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles..</td>
                    <td class="text-right">11</td>
                    <td class="text-right">5700</td>
                    <td class="text-right">45000</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">3</th>
                    <td>Service</td>
                    <td>Remove the default list-style and left margin on list items
                        (immediate children only).</td>
                    <td class="text-right">21</td>
                    <td class="text-right">12500</td>
                    <td class="text-right">345000</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">4</th>
                    <td>Goods</td>
                    <td>Grid columns are created by specifying the number of twelve available columns you wish to span. </td>
                    <td class="text-right">21</td>
                    <td class="text-right">12500</td>
                    <td class="text-right">345000</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">5</th>
                    <td>Service</td>
                    <td>That padding is offset in rows for the first and last column via negative margin on .rows.</td>
                    <td class="text-right">17</td>
                    <td class="text-right">12500</td>
                    <td class="text-right">340470</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">6</th>
                    <td>Goods</td>
                    <td>Bootstrap requires a containing element to wrap site contents and house our grid system. </td>
                    <td class="text-right">211</td>
                    <td class="text-right">12500</td>
                    <td class="text-right">345900</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">7</th>
                    <td>Service</td>
                    <td>Bootstrap makes use of certain HTML elements and CSS properties that require the use of the HTML5 doctype.</td>
                    <td class="text-right">41</td>
                    <td class="text-right">42500</td>
                    <td class="text-right">3456000</td>
                </tr>
                <tr>
                    <th scope="row" class="text-right">8</th>
                    <td>Goods</td>
                    <td>With Bootstrap 2, we added optional mobile friendly styles for key aspects of the framework. With Bootstrap 3,</td>
                    <td class="text-right">1</td>
                    <td class="text-right">12500</td>
                    <td class="text-right">345000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row top10">
        <div class="col-xs-4 col-xs-offset-8 ">
            <table class="table table-condensed borderless">
                <tr>
                    <td  width="50%" class="caption text-right">
                       Subtotal
                    </td>
                    <td  class="text-right">
                        843000
                    </td>
                </tr>
                <tr>
                    <td width="50%" class="caption text-right">
                        Discount (5.00%)
                    </td>
                    <td class="text-right">
                        22300
                    </td>
                </tr>
                <tr>
                    <td width="50%" class="caption text-right">
                        Tax (18.00%)
                    </td>
                    <td class="text-right">
                        345000
                    </td>
                </tr>
                <tr>
                    <td width="50%" class="text-right">
                       <strong>Amount Due</strong>
                    </td>
                    <td class="text-right">
                        <strong>2344500</strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row top10">
        <hr/>
        <div class="col-lg-8">
            <strong>Notes</strong><br/>
            <span>
                 All prices quoted are in U.S. Dollars. Validity of this quote is for 30-days.

            Prices may change without notice. 100% advance required upon confirmation.

            Quotations do not include local area network setup or maintenance

            Monthly Service Prices are based on 12-month contracts.(where applicable)

            All cheques to be payable to Startel Tanzania Limited

            Delivery time: 3-7 days after confirmation by LPO or Payment

            Payment Plan: Minimum of three month payment in advance
            </span>
        </div>
    </div>

    <div class="row top10">
        <div class="col-lg-8">
            <strong>Terms</strong><br/>
            <span>
                 All prices quoted are in U.S. Dollars. Validity of this quote is for 30-days.

            Prices may change without notice. 100% advance required upon confirmation.

            Quotations do not include local area network setup or maintenance

            Monthly Service Prices are based on 12-month contracts.(where applicable)

            All cheques to be payable to Startel Tanzania Limited

            Delivery time: 3-7 days after confirmation by LPO or Payment

            Payment Plan: Minimum of three month payment in advance
            </span>
        </div>
    </div>

</div>
<!-- /container -->

</body>
</html>