<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ankara email account confirmation</title>
</head>
<body>
<p>
    Hello <b data-th-text="${user.fullName}">Peter</b>!
</p>

<p>Thank you for using <b>ankara</b></p>
<p>Your password has been reset. Please use <b data-th-text="${password}">password</b> and change to your own password once you login</p>

<p>Have a good day</p>
<p><b>Ankara Team</b></p>
<img height="60px" src="/images/logo.png" th:src="'cid:' + logo.png" />
</body>
</html>