<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ankara | Welcome </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--TODO REMOVE THIS REDIRECT AFTER IMPLEMENTING HOME PAGE-->
    <meta http-equiv="refresh"  content="0; url=/app" />
</head>
<body>
<p th:text="'Hello, This will be ankara website '" />
<p>Click <a href="/app">here</a> to proceed</p>
</body>
</html>

<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="page::common_header('ankara | Welcome')">-->
    <!--&lt;!&ndash;TODO REMOVE THIS REDIRECT AFTER IMPLEMENTING HOME PAGE&ndash;&gt;-->
    <!--<meta http-equiv="refresh" content="0; url=/app"/>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="'Hello, This will be ankara website '"/>-->
<!--<p>Click <a href="/app">here</a> to proceed</p>-->
<!--</body>-->
<!--</html>-->