<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="cost.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="row top10">
        <div class="col-xs-6">
            <img class="logo  img-rounded"
                 src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-0/p480x480/10300881_851858584836717_8353516927318366400_n.png?oh=0e32ab87e3c3576ed6ba411a8eb01699&oe=5843267F"/>
        </div>

        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-2 caption">
                    From:
                </div>
                <div class="col-xs-10 left-vertical-line">
                    <address>
                        <strong>
                            Startel Tanzania Limited
                        </strong><br/>
                        9th Floor , I.T Plaza - Ohio<br/>
                        St/Garden Avenue<br/>
                        P.O.Box 6458<br/>
                        Dar es Salaam,<br/>
                        Tanzania<br/>
                    </address>
                    <table class="table table-condensed">
                        <tr>
                            <td class="caption">
                                VAT
                            </td>
                            <td>
                                10-017363-H
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                TIN
                            </td>
                            <td>
                                102-843-134
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Tel
                            </td>
                            <td>
                                +255-212-5230
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Fax
                            </td>
                            <td>
                                +255-212-5231
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Email
                            </td>
                            <td>
                                <a href="mailto:#">sales@raha.com</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row top10">
        <div class="col-xs-6">
            <div class="row">

                <div class="col-xs-4 caption">
                    Invoice ID
                </div>
                <div class="col-xs-8 left-vertical-line">
                    <strong> 0001</strong>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-4 caption">
                    PO Number
                </div>
                <div class="col-xs-8 left-vertical-line">
                    <strong> 33-45-57</strong>
                </div>
            </div>
            <div class="row top5">

                <div class="col-xs-4 caption">
                    Issue Date
                </div>
                <div class="col-xs-8 left-vertical-line">
                    08/24/2016
                </div>
            </div>

            <div class="row">

                <div class="col-xs-4 caption">
                    Due Date
                </div>
                <div class="col-xs-8 left-vertical-line">
                    08/24/2016 (upon receipt)
                </div>
            </div>
            <div class="row top5">

                <div class="col-xs-4 caption">
                    Subject
                </div>
                <div class="col-xs-8 left-vertical-line subject">
                    PRO forma Invoice for Data internet
                    connectivity
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="row">

                <div class="col-xs-2 caption">
                    For:
                </div>
                <div class="col-xs-10 left-vertical-line">
                    <address>
                        <strong>
                            Tecic
                        </strong><br/>
                        Along Sam Nujoma Road,<br/>
                        Opposite Mlimani city<br/>
                    </address>
                    <table class="table table-condensed">
                        <tr>
                            <td class="caption">
                                Tel
                            </td>
                            <td>
                                +255719021033
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Fax
                            </td>
                            <td>
                                +255-212-5231
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Email
                            </td>
                            <td>
                                <a href="mailto:#">gasper.clement@gabeco.co.tz</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <div class="row top15">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>Service</td>
                    <td>Remove the default list-style and left margin on list items
                        (immediate children only).</td>
                    <td>21</td>
                    <td>12500</td>
                    <td>345000</td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Service</td>
                    <td> It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles..</td>
                    <td>11</td>
                    <td>5700</td>
                    <td>45000</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Service</td>
                    <td>Remove the default list-style and left margin on list items
                        (immediate children only).</td>
                    <td>21</td>
                    <td>12500</td>
                    <td>345000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- /container -->

</body>
</html>