<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">The awesome application</title>
    <link th:fragment="bootstrap_css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/styles.css}" href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script th:fragment="bootstrap_js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <!-- Common styles and scripts -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

</head>
<body>

</body>
</html>