@media print {

    .left-vertical-line {
        border-left: 1px solid #ddd;
    }

    .top5 {
        margin-top: 5px;
    }

    .top7 {
        margin-top: 7px;
    }

    .top10 {
        margin-top: 10px;
    }

    .top15 {
        margin-top: 15px;
    }

    /*.logo{*/
    /*width: 200px;*/
    /*}*/

    .caption {
        color: grey !important;
        font-weight: 300 !important;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .subject {
        font-weight: 600;
        font-size: 16px;
    }

    .pre {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

}


.left-vertical-line {
    border-left: 1px solid #ddd;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

/*.logo{*/
/*width: 200px;*/
/*}*/

.caption {
    color: grey;
    font-weight: 300;
}

.borderless td, .borderless th {
    border: none !important;
}

.subject {
    font-weight: 600;
    font-size: 16px;
}

.pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}