@import "variables";
@import "../valo/valo";
@import "../valo/valo.scss";
@import "cost";

.ankara {
   @include valo;
}

.text-right{
   text-align: right;
}

.text-small {
   font-size: 10px !important;
}

.view-header{
   color: #4c70ba;
   margin-left: 10px;
   font-size: 18px;
   font-weight: bold;
}

.items_grid td {
   height: 80px !important; /* define row height */
   border: none;
}